@model Category
<form method="post" asp-action="KategoriEkle" class="m-4">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group my-3">
        <label asp-for="@Model.CategoryName">Kategori Adı</label>
        <input class="form-control" asp-for="@Model.CategoryName"/>
    </div>
    <div class="form-group my-3">
        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Kaydet</button>
    </div>
   
</form>