  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="~/adminlte-3.2.0/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         
          <li class="nav-header">Menü</li>
          <li class="nav-item">
            <a asp-action="Index" asp-controller="Haberler" asp-area="Admin" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Haberler
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a asp-action="Index" asp-controller="Kategori" asp-area="Admin" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Kategoriler
                <span class="badge badge-info right">2</span>
              </p>
            </a>
          </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="AnaHaber" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Slider
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
             
   

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="SonDakika" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            SonDakika
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                @*

        <li class="nav-item">
                    <a asp-action="Index" asp-controller="İletisim" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            İletişim
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Vitrin" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Vitrin
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="KullanimSartlari" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                          Kullanım Şartları

                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="GizlilikPolitikasi" asp-area="Admin" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                          Gizlilik Politikası

                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                *@

        

          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
