

        <div class="latest-updates">
        @await Component.InvokeAsync("BreakingNews") 
        </div>
        
        @await Component.InvokeAsync("AnaHaber") 

           @*
        @await Component.InvokeAsync("Slider")
           *@ 

      

        <div class="populers-sec-news mt-4 mt-lg-0">
  

        @await Component.InvokeAsync("CategoriesOrtaSayfa")
  
        </div>

        <div class="lisfe-style-sec mt-4">
            <div class="container">
                <h2 class="comon-sub-heading"> Lifestyle </h2>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-7">
                                <a href="#" class="big-life-news">
                                    <figure>
                                        <img src="~/images/lthm-1.jpg" alt="svg" />
                                    </figure>
                                    <div class="text-sec ps-lg-3">
                                        <h6>LifeStyle</h6>
                                        <p> <b> Author </b> / Dec 05, 2022 </p>
                                        <h5> Remaining essentially unchanged. It was popularised</h5>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been Lorem Ipsum is simply dummy text of the Lorem Ipsum has been...</p>

                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-5">
                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/small-life1.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> It uses a dictionary of over 200 Latin words </h5>
                                        <p> Author / August 09, 2022 </p>
                                    </div>
                                </a>

                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/small-life2.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> Lorem Ipsum is simply dummy text </h5>
                                        <p> Author / May 18, 2022 </p>
                                    </div>
                                </a>

                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/small-life3.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> All the Lorem Ipsum generators on the Internet tend </h5>
                                        <p> Author / August 19, 2022 </p>
                                    </div>
                                </a>

                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/small-life4.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> Generate Lorem Ipsum which looks reasonable </h5>
                                        <p> Author / Jan 22, 2022 </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                     @*   <a href="#">
                            <figure class="mx-auto d-table">
                                <img src="~/images/as-ad12.jpg" alt="sb" />
                            </figure>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <a href="#" class="goole-ads1">
                            <figure>
                                <img src="~/images/google-ads4.jpg" alt="agds" />
                            </figure>
                        </a>*@

                    </div>
                </div>
            </div>
        </div>

       

        <div class="both-sec-div mt-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-2 g-lg-5">
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="comon-sub-heading"> National </h2>
                            <a href="#" class="view-more-btn btn"> View More <i class="fas fa-angle-right"></i> </a>
                        </div>

                        <div class="news-com-sec mt-4">
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col">
                                    <a href="#" class="populer-sec1-news">
                                        <figure>
                                            <img src="~/images/tm-1.jpg" alt="big1" />
                                            <span class="st-tags"> National </span>
                                        </figure>
                                        <div class="content-div1">
                                            <h5> There are many variations of passages of Lorem...</h5>
                                            <p> <b> Author </b> Jan 15, 2022 </p>
                                        </div>

                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="populer-sec1-news">
                                        <figure>
                                            <img src="~/images/tm-2.jpg" alt="big1" />
                                            <span class="st-tags">National </span>
                                        </figure>
                                        <div class="content-div1">
                                            <h5> It over 2000 years old. Richard McClintock...</h5>
                                            <p> <b> Author </b> August 14, 2022 </p>
                                        </div>

                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2 class="comon-sub-heading"> World </h2>
                            <a href="#" class="view-more-btn btn"> View More <i class="fas fa-angle-right"></i> </a>
                        </div>

                        <div class="news-com-sec mt-4">
                            <div class="row row-cols-1 row-cols-md-2">
                                <div class="col">
                                    <a href="#" class="populer-sec1-news">
                                        <figure>
                                            <img src="~/images/tm-3.jpg" alt="big1" />
                                            <span class="st-tags"> World </span>
                                        </figure>
                                        <div class="content-div1">
                                            <h5> Latin professor at Hampden-Sydney College...</h5>
                                            <p> <b> Author </b> May 10, 2022 </p>
                                        </div>

                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#" class="populer-sec1-news">
                                        <figure>
                                            <img src="~/images/tm-4.jpg" alt="big1" />
                                            <span class="st-tags"> World </span>
                                        </figure>
                                        <div class="content-div1">
                                            <h5> Latin words, combined with a handful of structures...</h5>
                                            <p> <b> Author </b> May 23, 2022 </p>
                                        </div>

                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     @*   <div class="options-1">
            <div class="container">
                <h2 class="comon-sub-heading"> Opinion </h2>
                <div class="row row-cols-1 mt-0 row-cols-md-2 row-cols-lg-3 g-lg-5">
                    <div class="col">
                        <div class="comon-op d-md-flex">
                            <div class="toipc-op">
                                <a href="#">
                                    The release of Letraset sheets containing
                                </a>
                                <h6 class="mt-4"> Simon jou</h6>
                                <p> <i class="far fa-comment"></i> 123</p>
                            </div>
                            <figure class="user-pics1">
                                <img src="~/images/teacher-11.jpg" alt="ts" />
                            </figure>
                        </div>
                    </div>

                    <div class="col">
                        <div class="comon-op d-md-flex">
                            <div class="toipc-op">
                                <a href="#">
                                    Lorem Ipsum has been the industry's
                                </a>
                                <h6 class="mt-4"> Simon jou</h6>
                                <p> <i class="far fa-comment"></i> 123</p>
                            </div>
                            <figure class="user-pics1">
                                <img src="~/images/testimonials-1-1.jpg" alt="ts" />
                            </figure>
                        </div>
                    </div>

                    <div class="col">
                        <div class="comon-op d-md-flex">
                            <div class="toipc-op">
                                <a href="#">
                                    It is a long established fact that a reader will be.
                                </a>
                                <h6 class="mt-4"> Simon jou</h6>
                                <p> <i class="far fa-comment"></i> 123</p>
                            </div>
                            <figure class="user-pics1">
                                <img src="~/images/pexels-andrea-piacquadio-733872.jpg" alt="ts" />
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>*@

        


        <div class="lisfe-style-sec mt-4">
            <div class="container">
                <h2 class="comon-sub-heading"> Business </h2>
                <div class="row mt-4">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-7">
                                <a href="#" class="big-life-news">
                                    <figure>
                                        <img src="~/images/btm-1.jpg" alt="svg" />
                                    </figure>
                                    <div class="text-sec ps-lg-3">
                                        <h6>Business</h6>
                                        <p> <b> Author </b> / Jan 09, 2022 </p>
                                        <h5> Remaining essentially unchanged. It was popularised</h5>
                                        <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been Lorem Ipsum is simply dummy text of the Lorem Ipsum has been...</p>

                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-5">
                                <a href="#" class="small-life-divs d-flex">
                                    <figure>
                                        <img src="~/images/small-b1.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> The standard chunk of Lorem </h5>
                                        <p> Author / Jan 16, 2022 </p>
                                    </div>
                                </a>

                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/small-b2.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> Lorem Ipsum is simply dummy text </h5>
                                        <p> Author / Jan 22, 2022 </p>
                                    </div>
                                </a>

                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/small-b3.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> Structures, to generate Lorem Ipsum which </h5>
                                        <p> Author / Dec 24, 2022 </p>
                                    </div>
                                </a>

                                <a href="#" class="small-life-divs d-flex ">
                                    <figure>
                                        <img src="~/images/b1-sm1.jpg" alt="svg" />
                                    </figure>
                                    <div class="right-test2">
                                        <h5> Lorem Ipsum is not simply random text </h5>
                                        <p> Author / August 23, 2019 </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>


        <div class="entenment-s1 mt-4">

            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <h2 class="comon-sub-heading"> Entertainment </h2>
                    <a href="#" class="view-more-btn btn"> View More <i class="fas fa-angle-right"></i> </a>
                </div>

                <div class="row row-cols-1 mt-4 row-cols-md-2 row-cols-lg-4">
                    <div class="col">
                        <a href="#" class="populer-sec1-news">
                            <figure>
                                <img src="~/images/small-en1.jpg" alt="big1" />
                                <span class="st-tags"> Entertainment </span>
                            </figure>
                            <div class="content-div1">
                                <h5> It is a long established fact that distracted...</h5>
                                <p> <b> Author </b> August 23, 2019 </p>
                            </div>

                        </a>
                    </div>

                    <div class="col">
                        <a href="#" class="populer-sec1-news">
                            <figure>
                                <img src="~/images/small-en2.jpg" alt="big1" />
                                <span class="st-tags"> Entertainment </span>
                            </figure>
                            <div class="content-div1">
                                <h5> It to make a type specimen book. It has...</h5>
                                <p> <b> Author </b> August 05, 2022 </p>
                            </div>

                        </a>
                    </div>

                    <div class="col">
                        <a href="#" class="populer-sec1-news">
                            <figure>
                                <img src="~/images/small-en3.jpg" alt="big1" />
                                <span class="st-tags"> Entertainment </span>
                            </figure>
                            <div class="content-div1">
                                <h5> Randomised words which don't look...</h5>
                                <p> <b> Author </b> Dec 03, 2022 </p>
                            </div>

                        </a>
                    </div>


                    <div class="col">
                        <a href="#" class="populer-sec1-news">
                            <figure>
                                <img src="~/images/en-sm.jpg" alt="big1" />
                                <span class="st-tags"> Entertainment </span>
                            </figure>
                            <div class="content-div1">
                                <h5> Remaining essentially unchanged. It was...</h5>
                                <p> <b> Author </b> August 21, 2022 </p>
                            </div>

                        </a>
                    </div>

                </div>
            </div>
        </div>

